
#landing-page{
  display: flex;
}

.row{
  justify-content: center;
  margin: 30px auto 0;
  max-width: 935px;
  padding-bottom: 44px;
  width: 100%;
  /* background-color: blueviolet; */
}

.landing-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  /* flex-grow: 1; */
  /* background-color: paleturquoise; */
  /* flex-shrink: 5; */
}

.landing-right{
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  /* flex-grow: 2; */
  /* background-color: lime; */
}

.landing-right .space{
  /* margin: 20px; */
  /* flex-shrink: 1; */
  background-color: lightpink;
}


.landing-right .login{
  margin: 20px;
  /* flex-shrink: 1; */
  background-color: blanchedalmond;
}

.space{
  
}


