*{
  margin: 0;
  padding: 0;
}
#card{
  margin: 20px;
  width: 300px; /* 1 column by default */
  height: auto;
}
.cardContainer{
  background-image: repeating-linear-gradient(145deg, #000000, #c1a894, #000000 2px, #c1a894 1px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  border-radius: 0;
  box-shadow: 5px 5px 15px black;
}


.companyContainer{
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.companyContainer h1{
  font-size: 1.5rem;
  /* font-size-adjust: 0.25; */
  
}

.nameContainer{
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color:#e7e3da;
  margin: 5px 0px 10px 5px ;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #888076;
  font-size: 20px;
}

.name h3 a{
  color: #b58b69;
}


.contactContainer{
  /* border-bottom: 1px solid grey; */
}

.contactContainer div{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  
}

.icon{
  flex-direction: column;
  border-radius: 0px 5px 6px 0px;
  background-color: #fff;
  color: #a69c95;
  flex-grow: 0;
  padding: 7px;
  margin-bottom: 1px;
  border-bottom: 1px solid lightgray;
}

.info{
  border-radius: 6px 0px 0px 6px;
  color: #a69c95;
  background-color: #fff;
  flex-grow: 1;
  margin-left: 30px;
  padding: 5px;
  margin-bottom: 1px;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  font-size: 100%;
  font-size-adjust: 20px;
}

.info a{
  color: #a69c95;
  font-size: 1rem;
}

.modificationCotainer{
  display: flex;
  align-items: flex-start;
  margin: 5px 0px 0px 5px;
  color: #c1a894;

}

.share-icon{
  flex-grow: 0;
  padding: 0px 8px 0px 8px;
  box-shadow: 0px 0px 1px 0px #000000;
  margin-bottom: 5px;
}

.share-icon:hover{
  box-shadow: 0 2px 10px #000000;
  background-color: #fff;
  padding: 0px 8px 0px 8px;
}

.edit-icon{
  margin: 0px 0px 0px 170px;

}

.delete-icon{
  padding-left: 5px;
  flex-grow: 1;
}
