#card-container .card-row {
  margin: 0;
}

#card-container .card-list-col {	
  overflow-y: auto;
	float: left;
	position: relative;
  background-color: #88bbd6;
  height: 100vh;
  padding: 0;
}

#card-container .search-bar {
  color: #ffffff;
  text-align: center;
  margin: 5px;
}

#card-container .search-bar input {
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}

#card-container .card-view-col {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

#card-container .card-item {

  
}

#card-container .card-item:hover {
  /* background-color: #ecfaff; */
}

  #card-container .card-item:focus {
  opacity: 1;
  background-clip: border-box;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  min-width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  position: relative;
  word-wrap: break-word;
  border-radius: 0;
  color: #ff957d;
  background-color: #ffffff;
  margin: 0;
  border-left: 5px solid #ff957d;
}

#card-container .card-item-details {


  width: 100%;
}

#card-container .card-avatar .sb-avatar__text {
  background-color: #ff957d !important;
  border: 1px solid #979797;
}

#card-container .card-user {
  width: 100%;
  margin: 5px;
  display: flex;
}

#card-container .card-username {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#card-container .messaging-options {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #17b582;
}

@media only screen and (max-width: 767.98px) {
  .card-container .card-list-col {
    height: fit-content;
  }
}
/* //////////////////////// Card Item ////////////////////// */
#cardItem {
  background-color: darkseagreen;
}

#cardItem .cardItem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid;
  /* padding: 10px; */
  border-radius: 10px;
  margin: 40px;
  border: none;
  
}

#cardItem .card-item {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: #000000;
  /* margin: 5px; */
  align-items: center;
  text-decoration: none;
}

#cardItem .card-item:hover {
  
 }

#cardItem button {
  border: none;
  padding: 5px 10px;
  background-color: palevioletred;
  color: white;
  border-radius: 5px;
  margin: 10px;
}



/* //////////////////////// Card View ////////////////////// */
#card-view a {
  text-decoration: none;
  color: inherit;
}
#card-view {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin: 10px;
  color: #284a85;
  /* // background-color: gray;
  // background-image:
  // radial-gradient(rgb(255, 255, 255), rgba(138,201,214,.7) 200px, transparent 400px),
  // radial-gradient(rgb(189, 196, 198), rgba(255,255,255,.6) 300px, transparent 400px),
  // radial-gradient(rgb(255, 203, 170), rgba(138,201,214,.3) 400px, transparent 400px);
  // background-size: 1000px 500px, 700px 500px, 700px 500px; 
  // background-position: 0 -200px, 300px -100px, 700px -200px;
  // height: 500px; */
}

#card-view .card-view-card:hover {

  box-shadow: 0px 1px 5px 1px;
}

#card-view .card-view-card {
  border: 1px solid #88bbd6;
  width: 350px;
  height: 500px;
  /* // padding-left: 40px; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between;

}

#card-view .card-logo{
  /* // margin-top: 20px; */
  text-align: center;
}

#card-view .card-icons {
  border-radius: 5px;
  background-color: red;
  color: #ffffff;
  margin-right: 10px;
  padding: 3px;
  width: 20px;
  text-align: center;
}

#card-view .infos {
  display: flex;
  align-items: center;
}

#card-view a:active {
  background-color: #f7ebeb;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  color: #ff8c8c;
}

#card-view .card-info-details {
  margin-bottom: -5px;
}

#card-view .card-name-profession {
  margin: 40px 0px;
}

#card-view .card-name {
  color: #ff957d;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: -10px;
}

#card-view .card-profession {
  font-size: 15px;
  font-weight: 800;
}

#card-view .card-adress {

}

#card-view .card-phone {
  margin: 10px 0;
}

#card-view .card-email-website {
  /* // margin-bottom: 60px; */

}

#card-view .card-qr-code-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

#card-view .card-qr-code-container::after {
background-color: #ff957d;
}

#card-view .card-qr-code {
  cursor: pointer;
  width: 50px;
  height: 25px;
  padding: 2px;
  border-radius: 5px;
  /* // border: 1px solid #fdffd4; */
  border: 1px solid #000000;
}

#share-card-modal .modal {
  width: 300px;
  position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;
}

#share-card-modal .modal-dialog {
  position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom: 50px; 
   width: inherit;
}  

#share-card-modal .modal-content {
  background-color: #ff957d;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
}

@media only screen and (max-width: 767.98px) {
  
  #share-card-modal .modal-dialog {
    
    
  }
  
  #share-card-modal .modal-content {

  }
}