
#register{
  display: flex;
  justify-content: space-between;
}

#register h1 {
  color: #ff3b3f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#register .register-left {
  background-color: #c1c9c2;
  width: 400px;
  padding: 20px;
}

#register .register-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  background-color: #fafafa;
}

#register .failedRegister {
  background-color: rgba(213, 53, 46,0.1);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #a9a9a9;
  line-height: 16px;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

#register .faPlug {
  color: #caebf2;
  margin-right: 5px;
}

#register .faShare {
  color: #caebf2;
  margin-right: 5px;
}

#register .faUserFriends {
  color: #caebf2;
  margin-right: 5px;
}

#register .register-right-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
  padding: 10px;
  height: 100%;
  background-color: #fff;
  background-color: rgba(var(--cdc,255,255,255),1);
  border: 1px solid #dbdbdb;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1px;
  padding: 10px;
}

#register .register-button {
  display: flex;
  justify-content: flex-end;
}

#register .btn-submit{
  text-transform: uppercase;
  border: none;
  width: 90px !important;
  height: 40px !important;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color:  #efefef;
}

#register .btn-submit:not(:disabled) {
  background-color: #caebf2;
}

#register .login-link{
  margin-left: 2px;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

#register .login-link:hover{
  color: #caebf2;
}

#register .account{
  margin-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 790px) {
  .register-left {
    display: none;
  }
  
  #register .register-right-form {
    border: none;
    box-shadow: none;
    background-color: inherit;
  }
}


@media only screen and (max-width: 420px) {
  #register .register-right {
    height: fit-content;
  }
}