
#register-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form .container{
    /* background-color: burlywood; */
}

.form{
    background-color: white;
    width: 350px;
    height: 520px;
    margin: 20px;
    border-radius: 3px;
    border: 1px solid lightgrey ;
}

h1{
    color: rgb(137, 152, 172);
    font-weight: 900;
}

h5{
    color: lightsalmon;
    font-weight: 600;
    text-align: center;
}

.btn-submit{
    color: white;
    font-weight: 600;
    background-color:  rgb(137, 152, 172);
}

.account{
    text-align: center;
}
.account .link{
    color: lightsalmon;
    font-weight: 600;
}