*{
  margin: 0;
  padding: 0;
}

.mainbg{
  background-image: repeating-linear-gradient(145deg, rgb(77, 76, 76), rgb(77, 76, 76), #000000 5px, #000000 5px);

}

#cardcontainer{
  margin: auto;
  width: 350px; /* 1 column by default */
  height: 625px;
}

#secondcontainer{
  background-color:#525252
}

h1{
  font-size: 36px;
  font-weight: bold;
}

h3{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

h5{
  color: white;
}
a {
  font-size: 1.6rem;
}

#circleimg{
  object-fit: cover;
  border: 2px solid red;
  height: 110px;
  border-radius:100%;
}

#cardcontainer img{
  margin-top: -50px;
  max-width: 100px ; 
}

#cardcontainer i{
  font-size: 26px;
}

#cardcontainer p{
  font-weight: 500;
}

#cardcontainer .card{
  border-radius: 0;
  box-shadow: 5px 5px 15px black;
  transition: all 0.3x ease-in;
}

#infocontainer{
  margin: auto;
  width: 289px; /* 1 column by default */
  /* height: 625px; */
  /* background-color: bisque; */
}

#mycol{
  margin-right: 1px ;
  padding: 20px 0 0 0;
  background-color: red;
}

#mycol p{
  color:black;
  font-size: 14.5px;
}

#mycol a{
  color: black;
  font-size: 14.5px;
}

#infocontainer .myp{
  background-color: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
#icons{
  color: white;
  padding-bottom: 10px
}

.myp{
  color: white;
}